
#div1 {
    width:80px;
    height:80px;
    display:none;
    background-color:yellow;
} 

.div2 {
    width:80px;
    height:80px;
    display:none;
    background-color:green;
}

.main{
    border: 1px solid red;
    margin:50px;
    padding:30px;

}

/* 
.side{
    width
    border: 1px solid black;
} */


.left{
    border: 1px solid lightcoral;
    overflow-y: scroll;
    max-height: 500px;
    margin:50px;
    padding:30px;
}

.right{
    border: 1px solid green;
    margin:50px;
    padding:30px;
}

#img1{
    /* margin:30px; */
    width:50%;
}

.myTable{
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;
    background-color: lightpink;
    overflow-y: scroll; 
    
}
.myTable td {
    width: 800%;
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    background-color: lightseagreen;
}


.myTable th {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    background-color: lightgreen;
} 