<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/site.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid main">

        <div class="row">

            <div class="col-sm-6">
                <div class="left">
                    <table class="myTable">
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Age</th>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>

                        <tr>
                            <td>gupta</td>
                            <td>Jackson</td>
                            <td>94</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="right">
                    <img id="img1" src="https://www.w3schools.com/Html/pic_trulli.jpg" alt="Trulli">
                </div>

            </div>

        </div>

        <br/>
        <hr/>
        <br />

        <div class="row">
            <div class="col-sm-6">
                <div class="right">
                    <img id="img1" src="https://www.w3schools.com/Html/pic_trulli.jpg" alt="Trulli">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="left">
                    <table class="myTable">
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Age</th>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>

                        <tr>
                            <td>gupta</td>
                            <td>Jackson</td>
                            <td>94</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

</body>

</html>